
---
import Base from "@/layouts/Base.astro";
import { products } from "@/data/products";
import FeaturedProducts from "@/layouts/components/FeaturedProducts.astro";
import HeroSlider from "@/layouts/functional-components/HeroSlider";
import Testimonials from "@/layouts/partials/Testimonials.astro";
import CallToAction from "@/layouts/partials/CallToAction.astro";

const featuredProducts = products.filter((product) => product.tags.includes("featured"));
---

<Base>
  <section class="section pt-0">
    <HeroSlider client:load products={products} />
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="mx-auto text-center lg:col-8">
          <h2>Nos Produits Vedettes</h2>
          <p class="mt-4">
            Découvrez notre sélection de produits de qualité supérieure.
          </p>
        </div>
      </div>
      <FeaturedProducts products={featuredProducts} />
    </div>
  </section>

  <Testimonials />
  <CallToAction />
</Base>
